{% import 'admin/static.html' as admin_static with context %}

{# ---------------------- Pager -------------------------- #}
{% macro pager(page, pages, generator) -%}
{% if pages > 1 %}
<ul class="pagination pagination-sm no-margin pull-right">
    {% set min = page - 3 %}
    {% set max = page + 3 + 1 %}

    {% if min < 0 %}
        {% set max = max - min %}
    {% endif %}
    {% if max >= pages %}
        {% set min = min - max + pages %}
    {% endif %}

    {% if min < 0 %}
        {% set min = 0 %}
    {% endif %}
    {% if max >= pages %}
        {% set max = pages %}
    {% endif %}

    {% if min > 0 %}
    <li>
        <a href="{{ generator(0) }}">&laquo;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&laquo;</a>
    </li>
    {% endif %}
    {% if page > 0 %}
    <li>
        <a href="{{ generator(page-1) }}">&lt;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&lt;</a>
    </li>
    {% endif %}

    {% for p in range(min, max) %}
    {% if page == p %}
    <li class="active">
        <a href="javascript:void(0)">{{ p + 1 }}</a>
    </li>
    {% else %}
    <li>
        <a href="{{ generator(p) }}">{{ p + 1 }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page + 1 < pages %}
    <li>
        <a href="{{ generator(page + 1) }}">&gt;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&gt;</a>
    </li>
    {% endif %}
    {% if max < pages %}
    <li>
        <a href="{{ generator(pages - 1) }}">&raquo;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&raquo;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
{%- endmacro %}

{% macro simple_pager(page, have_next, generator) -%}
<ul class="pagination pagination-sm no-margin pull-right">
  {% if page > 0 %}
  <li>
      <a href="{{ generator(page - 1) }}">&lt;</a>
  </li>
  {% else %}
  <li class="disabled">
      <a href="{{ generator(0) }}">&lt;</a>
  </li>
  {% endif %}
  {% if have_next %}
  <li>
      <a href="{{ generator(page + 1) }}">&gt;</a>
  </li>
  {% else %}
  <li class="disabled">
      <a href="{{ generator(page) }}">&gt;</a>
  </li>
  {% endif %}
</ul>
{%- endmacro %}

{# ---------------------- Modal Window ------------------- #}
{% macro add_modal_window(modal_window_id='fa_modal_window', modal_label_id='fa_modal_label') %}
  <div class="modal fade" id="{{ modal_window_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_label_id }}">
    <div class="modal-dialog" role="document">
      {# bootstrap version > 3.1.0 required for this to work #}
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endmacro %}

{% macro add_modal_button(url='', title='', content='', modal_window_id='fa_modal_window', btn_class='icon') %}
  <a class="{{ btn_class }}" style="float:left; margin-right: 5px" data-target="#{{ modal_window_id }}" title="{{ title }}" href="{{ url }}" data-toggle="modal">
    {{ content|safe }}
  </a>
{% endmacro %}

{# ---------------------- Forms -------------------------- #}
{% macro render_field(form, field, kwargs={}, caller=None) %}
  {% set direct_error = h.is_field_error(field.errors) %}
  <div class="box-body">
      <div class="form-group{{ ' has-error' if direct_error else '' }}">
          <label for="{{ field.id }}" class="control-label">{{ field.label.text }}
              {% if h.is_required_form_field(field) %}
                <strong style="color: red">&#42;</strong>
              {%- else -%}
                &nbsp;
              {%- endif %}
          </label>
    
          {% if field.widget.input_type != 'checkbox' and not field.unbound_field is defined %}
            {% set _dummy = kwargs.setdefault('class', 'form-control') %}
          {% endif %}
          {{ field(**kwargs)|safe }}
          {% if field.description %}
              <p class="help-block">{{ field.description }}</p>
          {% endif %}
          {% if direct_error %}
              <ul class="help-block input-errors">
                  {% for e in field.errors if e is string %}
                     <li>{{ e }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
          {% if caller %}
              {{ caller(form, field, direct_error, kwargs) }}
          {% endif %}
      </div>
  </div>
{% endmacro %}

{% macro render_header(form, text, collapsed) %}
    <h3 class="box-title">{{ text }}</h3>
{% endmacro %}

{% macro render_collapsable_header(form, text, collapsed) %}
    <div data-widget="collapse" style="cursor: pointer">
        <div class="box-header with-border">
            <h3 class="box-title">{{ text }}</h3>
        </div>
    </div>
{% endmacro %}

{% macro render_form_fields(form, form_opts=None) %}
    {% if form.hidden_tag is defined %}
        {{ form.hidden_tag() }}
    {% else %}
        {% if csrf_token %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        {% for f in form if f.widget.input_type == 'hidden' %}
            {{ f }}
        {% endfor %}
    {% endif %}
    <div class="box box-primary">
        <div class="box-body">
            {% if form_opts and form_opts.form_rules %}
                {% for r in form_opts.form_rules %}
                    {{ r(form, form_opts=form_opts) }}
                {% endfor %}
            {% else %}
                {% for f in form if f.widget.input_type != 'hidden' %}
                    {% if form_opts %}
                        {% set kwargs = form_opts.widget_args.get(f.name, {}) %}
                    {% else %}
                        {% set kwargs = {} %}
                    {% endif %}
                    {{ render_field(form, f, kwargs) }}
		{% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro form_tag(form=None, action=None) %}
    <form action="{{ action or '' }}" method="POST" role="form" class="admin-form" enctype="multipart/form-data">
        {{ caller() }}
    </form>
{% endmacro %}

{% macro render_form_buttons(cancel_url, extra=None) %}
    <input type="submit" class="btn btn-primary" value="{{ _gettext('Save') }}" />

    {% if extra %}
        {{ extra }}
    {% endif %}

    {% if cancel_url %}
        <a href="{{ cancel_url }}" class="btn btn-danger" role="button">{{ _gettext('Cancel') }}</a>
    {% endif %}
{% endmacro %}

{% macro render_form(form, cancel_url, extra=None, form_opts=None, action=None, has_menu=False) -%}
    {% call form_tag(action=action) %}
        {% if form.hidden_tag is defined %}
            {{ form.hidden_tag() }}
        {% else %}
            {% if csrf_token %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% endif %}
            {% for f in form if f.widget.input_type == 'hidden' %}
                {{ f }}
            {% endfor %}
        {% endif %}
        {% if has_menu %}
            <div class="col-md-9">
        {% else %}
            <div class="col-md-12">
        {% endif %}
	    {% if form_opts and form_opts.form_rules %}
	      {% set collapsable = 'collapsed' in form_opts.form_rules.rules[0]|vars %}
		    {% if not collapsable %}
	        	<div class="box box-primary">
                        <div class="box-body">
		    {% endif %}
			    {% for r in form_opts.form_rules %}
			        {% if r['block'] %} 
			            {% if r.begin %}
				        <div class="box box-primary track-changes {% if r.collapsed %}collapsed-box{% endif %}">
			            {% elif r.end %}
				       </div>
			            {% endif %}
			        {% else %}
			            {{ r(form, form_opts=form_opts) }}
			        {% endif %}
			    {% endfor %}
		    {% if not collapsable %}
		        </div>
		    </div>
		    {% endif %}

        {% else %}
        <div class="box box-primary">
            <div class="box-body">
                {% for f in form if f.widget.input_type != 'hidden' %}
                    {% if form_opts %}
                        {% set kwargs = form_opts.widget_args.get(f.name, {}) %}
                    {% else %}
                        {% set kwargs = {} %}
                    {% endif %}
                    {{ render_field(form, f, kwargs) }}
                {% endfor %}
    	    </div>
        </div>
        {% endif %}
        {{ render_form_buttons(cancel_url, extra) }}
	</div>
    {% endcall %}
{% endmacro %}

{% macro form_css() %}
  <link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet">
  {% if config.MAPBOX_MAP_ID %}
  <link href="{{ admin_static.url(filename='vendor/leaflet/leaflet.css') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='vendor/leaflet/leaflet.draw.css') }}" rel="stylesheet">
  {% endif %}
  {% if editable_columns %}
  <link href="{{ admin_static.url(filename='vendor/x-editable/css/bootstrap3-editable.css', v='1.5.1.1') }}" rel="stylesheet">
  {% endif %}
{% endmacro %}

{% macro form_js() %}
  {% if config.MAPBOX_MAP_ID %}
  <script>
  window.MAPBOX_MAP_ID = "{{ config.MAPBOX_MAP_ID }}";
  {% if config.MAPBOX_ACCESS_TOKEN %}
  window.MAPBOX_ACCESS_TOKEN = "{{ config.MAPBOX_ACCESS_TOKEN }}";
  {% endif %}
  </script>
  <script src="{{ admin_static.url(filename='vendor/leaflet/leaflet.js') }}"></script>
  <script src="{{ admin_static.url(filename='vendor/leaflet/leaflet.draw.js') }}"></script>
  {% endif %}
  <script src="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  {% if editable_columns %}
  <script src="{{ admin_static.url(filename='vendor/x-editable/js/bootstrap3-editable.min.js', v='1.5.1.1') }}"></script>
  {% endif %}
  <script src="{{ admin_static.url(filename='admin/js/form.js') }}"></script>

  <script>
      $('.track-changes').change(function(e) {
          $(e.target).parents('.track-changes, .box-primary').removeClass('box-primary').addClass('box-warning')
      })
  </script>
{% endmacro %}
